@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("iconfont.ttf?t=1684759661262") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\f0106";
}

.icon-baidu:before {
  content: "\e8cb";
}
