@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("iconfont.ttf?t=1685067377242") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\f01af";
}
