html,
body {
  position: relative; //不定位会导致swiper轮播图竖向播放的异常
}
.blur {
  backdrop-filter: blur(6px);
}
.lh-100 {
  line-height: 100% !important;
}
// [class^="t-overflow"] {
//   display: -webkit-box;
//   -webkit-box-orient: vertical;
//   overflow: hidden;
// }
// @for $i from 2 through 6 {
//   .t-overflow-#{$i} {
//     -webkit-line-clamp: $i;
//   }
// }
.fs-7 {
  font-size: 0.9rem !important;
}
.fs-8 {
  font-size: 0.8rem !important;
}
.fs-9 {
  font-size: 0.7rem !important;
}
.fs-10 {
  font-size: 0.6rem !important;
}
@for $i from 1 through 10 {
  .t-shadow-#{$i} {
    text-shadow: 1px 1px #{$i}px black;
  }
}
.pb-100 {
  padding-bottom: 100%;
}
.cardHr.light {
  border-bottom: 1px solid #e5e6eb;
}
.cardHr.dark {
  border-bottom: 1px solid #24242c;
}
@for $i from 3 through 15 {
  .transition-#{$i} {
    transition: all unquote("#{$i/10}s");
  }
}
:root {
  --b-nav-h: 52px;
}
